* {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#search-result {
    text-align:start;
    border: 1px solid black;
}

#five-day-container{
    /* display: none; */
    }

.five-day {
    display: none;
}

.hidden {
     display: none;
}

.show {
    display: block;
}