* {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#search-result {
    text-align:start;
    border: 1px solid black;
}

#today-weather {

    border: 1px;px solid black;
    border-radius: 2px;
    background-color: antiquewhite;
}

.five-day-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.card {
    

}

.card-body {
    background-color: rgb(55, 70, 70);
    color:white; 
    font: size 12px;
}

