* {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#search-result {
    text-align:start;
    border: 1px solid black;
}



.card-body {
    background-color: rgb(55, 70, 70);
    color:white; 
    font: size 12px;
}

